<section class="form">
    <header>
        <h2>
            Create New Item
        </h2>
    </header>
    <p class="alert">{{ alert }}</p>
    <!-- <form (submit)="$event.preventDefault(); onSubmit()" [formGroup]="newItemForm" class="form-horizontal"> -->
    <form (ngSubmit)="onSubmit()" [formGroup]="newItemForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputTitle" class="col-md-1 control-label">Title</label>
            <div class="col-md-5">
                <input
                    type="text"
                    name="title"
                    id="inputTitle"
                    formControlName="title"
                    class="form-control"
                    placeholder="Title"
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <label for="inputPrice" class="col-md-1 control-label">Price</label>
            <div class="col-md-5">
                <input
                    type="number"
                    name="price"
                    id="inputPrice"
                    formControlName="price"
                    class="form-control"
                    min="0"
                    step=".5"
                    placeholder="Price"
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <label for="inputDate" class="col-md-1 control-label">Date</label>
            <div class="col-md-5">
                <input
                    type="date"
                    name="date"
                    id="inputDate"
                    formControlName="date"
                    class="form-control"
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <label for="inputImage" class="col-md-1 control-label">Image URL</label>
            <div class="col-md-5">
                <input
                    type="text"
                    name="image"
                    id="inputImage"
                    formControlName="image"
                    class="form-control"
                    placeholder="Image URL"
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <label for="inputContent" class="col-md-1 control-label">Content</label>
            <div class="col-md-5">
                <textarea
                    name="content"
                    id="inputContent"
                    formControlName="content"
                    cols="30"
                    rows="10"
                    class="form-control"
                    placeholder="Content"
                    required
                ></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputQuantity" class="col-md-1 control-label">Quantity</label>
            <div class="col-md-5">
                <input
                    type="number"
                    id="inputQuantity"
                    formControlName="quantity"
                    class="form-control"
                    min="0"
                    step="1"
                    placeholder="Quantity"
                    required
                >
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 offset-md-1 d-sm-flex">
                <button type="submit" class="btn btn-primary w-100">Save</button>
                <a routerLink="/" class="btn w-100">Cancel</a>
            </div>
        </div>
    </form>
</section>