<header class="main-header d-flex flex-column flex-sm-row align-items-center justify-content-between">
    <a routerLink="/">
        <img src="./assets/img/sample-logo.png" width="150" alt="logo">
    </a>
    <div class="d-flex flex-column flex-sm-row align-items-center">
        <input type="search" placeholder="Search...">
        <div class="login">
            <a href="#login">
                <img src="./assets/img/user-avatar.svg" width="30" alt="account" title="Account">
            </a>
        </div>
    </div>
</header>