<nav class="nav text-center text-sm-left">
    <ul class="nav__list">
        <li class="nav__item">
            <a routerLink="/" class="nav__link--active">Homepage</a>
        </li>
        <li class="nav__item">
            <a routerLink="#products" class="nav__link">Products</a>
        </li>
        <li class="nav__item">
            <a routerLink="#help" class="nav__link">Help</a>
        </li>
        <li class="nav__item">
            <a routerLink="#about-us" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
            <a routerLink="cart" class="nav__link">Cart</a>
        </li>
    </ul>
</nav>