<nav class="nav text-center text-sm-left">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="/" class="nav__link--active">Homepage</a>
        </li>
        <li class="nav__item">
            <a href="#products" class="nav__link">Products</a>
        </li>
        <li class="nav__item">
            <a href="#help" class="nav__link">Help</a>
        </li>
        <li class="nav__item">
            <a href="#about-us" class="nav__link">About Us</a>
        </li>
    </ul>
</nav>