@import '/src/assets/scss/base/colors';

article {
    margin: 1rem;
    line-height: 1.7;
    overflow: hidden;
    transition: background-color .25s;
}

:hover {
    background-color: lighten($light-color, 10%);
}

a > h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 288px;
    max-height: 288px;
}

@media screen and (min-width: 768px) {
    article {
        width: 300px;
        max-height: 400px;
        margin: 1rem;
    }
}